@import "./base/reset";
@import "./utils/variables";
@import "./utils/hidden";
@import "./components/conteiner";
@import "./components/logo";
@import "./components/backdrop";
@import "./components/button";
@import "./components/headline";
<<<<<<< Updated upstream
//@import "./layouts/header";

//@import "./layouts/modal";
=======
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/down-section";
@import "./layouts/project-srction";
@import "./layouts/teempart";
@import "./layouts/regularclient";
@import "./layouts/footer";
@import "./layouts/portfolio";
@import "./layouts/modal";
>>>>>>> Stashed changes
