@import './base/reset';
@import './utils/variables';
@import './utils/hidden';
@import './components/container';
@import './components/backdrop';
@import './components/section-header';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/products';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/gallery';
@import './layouts/reviews';
@import './layouts/location';
@import './layouts/footer';
@import './layouts/pageup';
