:root {
  --text-main: #ffffff;
  --text-accent: #d41443;
  --hero-bg: #ffb8ca;
  --section-white: #e5e5e5;
  --section-rose: #fff5f6;
  --paragraf-black: #000000;
  --paragraf-grey: #907e82;
  --border-in: #e1e1e1;
  --ico-bg: #fea5bb;
  --href-top: #ffa5ba;
  --bg-btn: #d41342;
  --bg-btn-hover-red: #c7133e;
  --bg-btn-hover-white: #ecebeb;
}
