:root{
    --text-main: #FFFFFF;
    --text-accent: #D41443;
    --hero-bg: #FFB8CA;
    --section-white: #E5E5E5;
    --section-rose: #FFF5F6;
    --paragraf-black:#000000;
    --paragraf-grey:#907E82;
    --border-in: #E1E1E1;
    --ico-bg: #FEA5BB;
   
    
}