<section id="how-made" class="about">
    <div class="container">
        <label for="h2-about" class="section-header about__label _anim-items _anim-no-hide">tradition and love</label>
        <h2 id="h2-about" class="section-header__bold about__header">how it’s made?</h2>
        <div class="about-main">
            <picture class="about__picture">
            <source 
            srcset="
            ./images/about-pic.png 1x,
            ./images/about-pic-2x.png 2x"
            media="(min-width:1280px)">
            <source 
            srcset="
            ./images/about-pic-tab.png 1x,
            ./images/about-pic-tab-2x.png 2x"
            media="(min-width:768px)">
            <source 
            srcset="
            ./images/about-pic-mob.png 1x,
            ./images/about-pic-mob-2x.png 2x"
            media="(min-width:320px)">
            <img src="./images/about-pic.png" 
            alt="cow" 
            class="about-main__img">
        </picture>
        <div class="about-text">
            <p class="about-text__bold _anim-items _anim-no-hide">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
            <p class="about-text__light _anim-items _anim-no-hide">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            <p class="about-text__light _anim-items _anim-no-hide">Aliquam erat volutpat. Aenean accumsan.</p>
            <button class="about-text__button" type="button" data-modal-open>Read more
                <svg class="about-text__icon">
                    <use href="./images/icon/symbol-defs.svg#icon-button-vector"></use>
                </svg>
            </button>
        </div>
        </div>
    </div>




    <div class="backdrop backdrop-about is-hidden" data-modal>
        <div class="about-modal" data-modal>
            <div class="about-modal__close-button" data-modal-close></div>
            <form autocomplete="off">
                <label class="section-header about-modal__label">tradition and love 
            <h2 class="section-header__bold about-modal__header">how it’s made?</h2>
            </label>
                <p class="about-modal__paragraf">The freezing process is, in fact, the process of turning a liquid mixture into ice cream. This is achieved with the help of continuous freezers, in which the mixture is whipped with air and frozen to a temperature of -4 ° C.</p>
                <p class="about-modal__paragraf">Immediately after freezing, ice cream is packaged and hardened (shock frozen in an air stream at a temperature of -25 to -37 °C). Hardened ice cream is packed in individual or group packaging. Packaged ice cream is placed in long-term storage warehouses, from where it is further shipped to the distribution network.</p>
            </form>
        </div>
    </div>
</section>