<section class="advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages__list">
            <li class="advantages__item">
                <span class="advantages__number advantages__number--first section-header__bold">721</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__number advantages__number--second section-header__bold">16kg</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__number advantages__number--third section-header__bold">84</span>
                <p class="advantages__description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>