<footer class="footer">
   <div class="container">
    <div class="footer-top">
        <div>
            <h2 class="section-header">homemade ice cream made</h2>
        <p class="section-header__bold"> with passion</p>
        </div>
    
       <div class="footer-bottom">
        <div class="footer-link">
            <ul class="footer-sm">
                <li class="list"><a class="footer-sm__link" target="_blank" href="https://github.com/"><svg width="20" height="20" class="footer-sm__ico">
                    <use href="./images/icon/symbol-defs.svg#icon-github"></use>
                </svg></a></li>
                <li class="list"><a class="footer-sm__link" target="_blank"  href="https://desktop.telegram.org/"><svg width="20" height="20" class="footer-sm__ico">
                    <use href="./images/icon/symbol-defs.svg#icon-telegram"></use>
                </svg></a></li>
                <li class="list"><a class="footer-sm__link" target="_blank"  href="https://www.facebook.com/"><svg width="20" height="20" class="footer-sm__ico">
                    <use href="./images/icon/symbol-defs.svg#icon-facebook"></use>
                </svg></a></li>
             
            </ul>
            
            <p class="footer-label">Feel free to contact<span><a href="tel:+610383766284" class="footer-label__red">+61 (0) 383 766 284</a></span></p>
            
        </div>
       </div>
    </div>
    
   </div>
<div class="footer-colpywrite">
    <p class="footer-colpywrite__text">© 2019 - IceCream. All Rights Reserved. </p>
</div>
</footer>
