<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <div class="gallery__row">
      <div class="gallery__column1">
        <div class="gallery__thumb gallery__thumb--margin">
          <picture>
            <source
              srcset="./images/gallery-11.jpg 1x, ./images/gallery-11-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/gallery-11-tab.jpg    1x,
                ./images/gallery-11-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery-11-mob.jpg    1x,
                ./images/gallery-11-mob-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/gallery-11.jpg" alt="Gallery 1" />
          </picture>
        </div>
      </div>

      <div class="gallery__column2">
        <div class="gallery__thumb gallery__thumb--margin">
          <picture>
            <source
              srcset="./images/gallery-21.jpg 1x, ./images/gallery-21-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/gallery-21-tab.jpg    1x,
                ./images/gallery-21-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery-21-mob.jpg    1x,
                ./images/gallery-21-mob-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/gallery-21.jpg" alt="Gallery 2" />
          </picture>
        </div>
        <div class="gallery__thumb">
          <picture>
            <source
              srcset="./images/gallery-22.jpg 1x, ./images/gallery-22-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/gallery-22-tab.jpg    1x,
                ./images/gallery-22-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery-22-mob.jpg    1x,
                ./images/gallery-22-mob-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/gallery-22.jpg" alt="Gallery 3" />
          </picture>
        </div>
      </div>

      <div class="gallery__column3">
        <div class="gallery__thumb gallery__thumb--big gallery__thumb--margin">
          <picture>
            <source
              srcset="
                ./images/gallery-31-big.jpg    1x,
                ./images/gallery-31-big-2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/gallery-31-big-tab.jpg    1x,
                ./images/gallery-31-big-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery-31-big-mob.jpg    1x,
                ./images/gallery-31-big-mob-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/gallery-31-big.jpg" alt="Gallery 4" />
          </picture>
        </div>
        <div class="gallery__thumb">
          <picture>
            <source
              srcset="./images/gallery-32.jpg 1x, ./images/gallery-32-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/gallery-32-tab.jpg    1x,
                ./images/gallery-32-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery-32-mob.jpg    1x,
                ./images/gallery-32-mob-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/gallery-32.jpg" alt="Gallery 5" />
          </picture>
        </div>
      </div>

      <div class="gallery__column4">
        <div class="gallery__thumb gallery__thumb--margin">
          <picture>
            <source
              srcset="./images/gallery-41.jpg 1x, ./images/gallery-41-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/gallery-41-tab.jpg    1x,
                ./images/gallery-41-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery-41-mob.jpg    1x,
                ./images/gallery-41-mob-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/gallery-41.jpg" alt="Gallery 6" />
          </picture>
        </div>
        <div class="gallery__thumb">
          <picture>
            <source
              srcset="./images/gallery-42.jpg 1x, ./images/gallery-42-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/gallery-42-tab.jpg    1x,
                ./images/gallery-42-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery-42-mob.jpg    1x,
                ./images/gallery-42-mob-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/gallery-42.jpg" alt="Gallery 7" />
          </picture>
        </div>
      </div>

      <div class="gallery__column5">
        <div class="gallery__thumb gallery__thumb--margin">
          <picture>
            <source
              srcset="./images/gallery-51.jpg 1x, ./images/gallery-51-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/gallery-51-tab.jpg    1x,
                ./images/gallery-51-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery-51-mob.jpg    1x,
                ./images/gallery-51-mob-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/gallery-51.jpg" alt="Gallery 8" />
          </picture>
        </div>
        <div class="gallery__thumb">
          <picture>
            <source
              srcset="./images/gallery-52.jpg 1x, ./images/gallery-52-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/gallery-52-tab.jpg    1x,
                ./images/gallery-52-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery-52-mob.jpg    1x,
                ./images/gallery-52-mob-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/gallery-52.jpg" alt="Gallery 9" />
          </picture>
        </div>
      </div>

      <div class="gallery__column6">
        <div class="gallery__thumb gallery__thumb--margin">
          <picture>
            <source
              srcset="./images/gallery-61.jpg 1x, ./images/gallery-61-2x.jpg 2x"
              media="(min-width:1280px)"
            />
            <source
              srcset="
                ./images/gallery-61-tab.jpg    1x,
                ./images/gallery-61-tab-2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/gallery-61-mob.jpg    1x,
                ./images/gallery-61-mob-2x.jpg 2x
              "
              media="(max-width:767px)"
            />
            <img src="./images/gallery-61.jpg" alt="Gallery 10" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
