<section class="hero">
  <div class="container">
    <div class="hero__bg-circle"></div>
    <picture class="hero__img-overlay">
      <source
        srcset="./images/hero-pic2.png 1x, ./images/hero-pic2-2x.png 2x"
        media="(min-width:1280px)"
      />
      <source
        srcset="./images/hero-pic2-tab.png 1x, ./images/hero-pic2-tab-2x.png 2x"
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/hero-pic2-mob.png        1x,
          ./images/hero-pic2-mob-2x-min.png 2x
        "
        media="(min-width:320px)"
      />
      <img src="./images/hero-pic2.png" alt="ice cream" />
    </picture>
    <div class="hero__info-wrap">
      <picture class="hero__info-img">
        <source
          srcset="./images/hero-pic1-min.png 1x, ./images/hero-pic1-2x.png 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/hero-pic1-tab-min.png 1x,
            ./images/hero-pic1-tab-2x.png  2x
          "
          media="(min-width:768px)"
        />
        <img src="./images/hero-pic1-min.png" alt="milk" />
      </picture>
      <div class="hero__arrow-wrap">
        <div class="hero-arrow-animation-wrap">
          <p class="hero__info-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>
          <!-- <p class="hero__arrow-animation-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate eum quas volup Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Voluptates iusto animi deserunt mollitia tenetur
              impedit doloribus amet quo est incidunt minima itaque vel quia
              quis eaque fugit velit, molestiae rem.
            </p> -->

          <button type="button" class="hero__info-arrow" data-modal-hero-open>
            <svg class="hero__arrow-open" width="9px" height="9px">
              <use href="./images/icon/symbol-defs.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="hero__title">
      <h3 class="hero__title-text">ice cream made with</h3>
      <p class="hero__title-big">passion</p>
    </div>
    <div class="hero__btn-wrap">
      <a href="#products" class="hero__btn hero__btn--dark link">Products</a>
      <a href="#about" class="hero__btn hero__btn--light link"
        >How it’s made?</a
      >
    </div>
    <ul class="hero__points">
      <li class="hero__points-item">
        <p class="hero__points-text">
          <span class="hero__points-amount">16 </span>cafes
        </p>
      </li>
      <li class="hero__points-item">
        <p class="hero__points-text">
          <span class="hero__points-amount">23 </span>food trucks
        </p>
      </li>
    </ul>

    <picture class="hero__img-girl">
      <source
        srcset="./images/hero-pic3.png 1x, ./images/hero-pic3-2x.png 2x"
        media="(min-width:1280px)"
      />
      <source
        srcset="./images/hero-pic3-tab.png 1x, ./images/hero-pic3-tab-2x.png 2x"
        media="(min-width:768px)"
      />
      <img src="./images/hero-pic3.png" alt="girl" />
    </picture>
  </div>
  <div class="backdrop backdrop-hero is-hidden" data-modal-hero>
    <div class="hero-modal" data-modal-hero>
      <div class="hero-modal__close-button" data-modal-hero-close></div>
      <p class="section-header hero-modal__label">tradition and love</p>
      <h2 class="section-header__bold hero-modal__header">how it’s made?</h2>
      <p class="hero-modal__paragraf">The freezing process is, in fact, the process of turning a liquid
        mixture into ice cream. This is achieved with the help of continuous freezers, in which the mixture
        is whipped with air and frozen to a temperature of -4 ° C.</p>
      <p class="hero-modal__paragraf">Immediately after freezing, ice cream is packaged and hardened (shock
        frozen in an air stream at a temperature of -25 to -37 °C). Hardened ice cream is packed in
        individual or group packaging. Packaged ice cream is placed in long-term storage warehouses, from
        where it is further shipped to the distribution network.</p>
    </div>
  </div>
</section>
