<section class="products" id="products">
    <div class="container">

        <label class="products__lable section-header">100% natural
            <h2 class="products__title section-header__bold">products</h2>
        </label>

        <ul class="products-list list">

            <li class="products-item first-card">
                <div class="products-item_content">
                    <h3 class="products__title-kind">ice cream</h3>
                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et
                    </p>
                </div> 
                <button type="button" class="product__btn">
                    <svg class="btn-icon" width="10" height="10">
                        <use href="./images/icon/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button> 
<!--                 
                <p class="products__full-description">
                    is a sweetened frozen food typically eaten as a snack or dessert. 
                    It may be made from milk or cream and is flavoured with a sweetener, 
                    either sugar or an alternative, and a spice.
                </p> -->
            </li>

            

            <li class="products-item second-card">
                <div class="products-item_content">
                    <h3 class="products__title-kind">ice coffee</h3>
                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et
                    </p>
                </div>
                <button type="button" class="product__btn">
                    <svg class="btn-icon" width="10" height="10">
                        <use href="./images/icon/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </li>

            <li class="products-item third-card">
                <div class="products-item_content">
                    <h3 class="products__title-kind">milkshakes</h3>
                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et
                    </p>
                </div>
                <button type="button" class="product__btn">
                    <svg class="btn-icon" width="10" height="10">
                        <use href="./images/icon/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </li>

        </ul>
    </div>

</section>
