<section class="products" id="products">
    <div class="container">

        <!-- <label class="products__lable section-header">100% natural
            <h2 class="products__title section-header__bold">products</h2>
        </label> -->

        <p class="products__lable section-header">100% natural</p>
        <h2 class="products__title section-header__bold">products</h2>
        

        <ul class="products-list list">

            <li class="products-item first-card">
                <div class="products-item_content">
                    <h3 class="products__title-kind">ice cream</h3>
                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et
                    </p>
                </div> 
                <button type="button" class="product__btn" data-modal-open-products>
                    <svg class="btn-icon" width="10" height="10">
                        <use href="./images/icon/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </li>            

            <li class="products-item second-card">
                <div class="products-item_content">
                    <h3 class="products__title-kind">ice coffee</h3>
                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et
                    </p>
                </div>
                <button type="button" class="product__btn" data-modal-open-products-second>
                    <svg class="btn-icon" width="10" height="10">
                        <use href="./images/icon/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </li>

            <li class="products-item third-card">
                <div class="products-item_content">
                    <h3 class="products__title-kind">milkshakes</h3>
                    <p class="products__description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et
                    </p>
                </div>
                <button type="button" class="product__btn" data-modal-open-products-third>
                    <svg class="btn-icon" width="10" height="10">
                        <use href="./images/icon/symbol-defs.svg#icon-arrow-right2"></use>
                    </svg>
                </button>
            </li>

        </ul>

        <div class="modal-products is-hidden" data-modal-products>
            <div class="modal-products__content first-content-card first-card">
                <p class="products__full-description ">
                    is a sweetened frozen food typically eaten as a snack or dessert. 
                    It may be made from milk or cream and is flavoured with a sweetener, 
                    either sugar or an alternative, and a spice.
                </p>
                <button class="product__btn" data-modal-close-products>
                    <svg class="btn-icon" width="40" height="40">
                        <use href="./images/icon/symbol-defs.svg#icon-close_40px"></use>
                    </svg>
                </button>
            </div>
            
        </div>

        <div class="modal-products is-hidden" data-modal-products-second>
            <div class="modal-products__content second-content-card second-card">
                <p class="products__full-description ">
                    Iced coffee is a coffee beverage served cold. It may be prepared either 
                    by brewing coffee normally and then serving it over ice or in cold milk,
                    or by brewing the coffee cold. 
                </p>
                <button class="product__btn" data-modal-close-products-second>
                    <svg class="btn-icon" width="40" height="40">
                        <use href="./images/icon/symbol-defs.svg#icon-close_40px"></use>
                    </svg>
                </button>
            </div>
            
        </div>

        <div class="modal-products is-hidden" data-modal-products-third>
            <div class="modal-products__content third-content-card third-card">
                <p class="products__full-description ">
                    A milkshake  is a sweet beverage made by blending milk, ice cream, 
                    and flavorings or sweeteners such as butterscotch, caramel sauce, 
                    chocolate syrup, fruit syrup, or whole fruit into a thick, sweet, cold mixture.
                </p>
                <button class="product__btn" data-modal-close-products-third>
                    <svg class="btn-icon" width="40" height="40">
                        <use href="./images/icon/symbol-defs.svg#icon-close_40px"></use>
                    </svg>
                </button>
            </div>            
        </div>

    </div>

</section>
