<section class="slider">
    <div class="container">
        <div class="card">
            <img srcset="/src/images/reviews2.png 1x, /src/images/reviews2-x2.png 2x" src="/src/images/reviews2.png"
                alt="reveiw_one" class="card__image">
            <div class="card-content">
                <p class="card-content__description line">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam
                    nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <h2 class="card-title">Emily, Los Angeles</h2>
        </div>
        <div class="card no-actual">
            <img srcset="/src/images/reviews1.png 1x, /src/images/reviews1-2x.png 2x" src="/src/images/reviews1.png"
                alt="reveiw_two" class="card__image">
            <div class="card-content">
                <p class="card-content__description">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam
                    nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <h2 class="card-title">Emily, Los Angeles</h2>
        </div>
        <div class="card no-actual">
            <img srcset="/src/images/reviews3.png 1x, /src/images/reviews3-2x.png 2x" src="/src/images/reviews3.png"
                alt="reveiw_one" class="card__image">
            <div class="card-content">
                <p class="card-content__description">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam
                    nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <h2 class="card-title">Emily, Los Angeles</h2>
        </div>
        <ul class="buttons-list">
            <li class="buttons-list__item"><button type="button" class="card-button is-active"></button></li>
            <li class="buttons-list__item"><button type="button" class="card-button"></button></li>
            <li class="buttons-list__item"><button type="button" class="card-button"></button></li>
        </ul>
    </div>
</section>