<section class="reviews">
    <div class="container">
        <div class="reviews-card">
            <img srcset="/src/images/reviews2.png 1x, /src/images/reviews2-x2.png 2x" src="/src/images/reviews2.png"
                alt="reveiw_one" class="reviews-card__image">
            <div class="reviews-card-content">
                <p class="reviews-card-content__description line">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam
                    nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <h2 class="reviews-card-title">Emily, Los Angeles</h2>
        </div>
        <div class="pagination">
            <ul class="pagination__list">
                <li class="pagination__item is-active">
                    <a href="/src/index.html" class="pagination__link">1</a>
                </li>
                <li class="pagination__item">
                    <a href="/src/index2.html" class="pagination__link">2</a>
                </li>
                <li class="pagination__item">
                    <a href="/src/index3.html" class="pagination__link">3</a>
                </li>
            </ul>
        </div>
    </div>
</section>