<section class="reviews">
    <div class="container">
        <div class="slider">
            <div>
                <div class="reviews-card">
                    <img srcset="/src/images/reviews2.png 1x, /src/images/reviews2-x2.png 2x" src="/src/images/reviews2.png"
                        alt="reveiw_one" class="reviews-card__image">
                    <div class="reviews-card-content">
                        <p class="reviews-card-content__description line">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                            quam
                            nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <h2 class="reviews-card-title">Emily, Los Angeles</h2>
                </div>
            </div>
            <div>
                <div class="reviews-card">
                    <img srcset="/src/images/reviews1.png 1x, /src/images/reviews1-2x.png 2x" src="/src/images/reviews2.png"
                        alt="reveiw_one" class="reviews-card__image">
                    <div class="reviews-card-content">
                        <p class="reviews-card-content__description line">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                            quam
                            nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <h2 class="reviews-card-title">Emily, Los Angeles</h2>
                </div>
            </div>
            <div>
                <div class="reviews-card">
                    <img srcset="/src/images/reviews3.png 1x, /src/images/reviews3-2x.png 2x" src="/src/images/reviews2.png"
                        alt="reveiw_one" class="reviews-card__image">
                    <div class="reviews-card-content">
                        <p class="reviews-card-content__description line">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                            quam
                            nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <h2 class="reviews-card-title">Emily, Los Angeles</h2>
                </div>
            </div>
        </div>
    </div>
</section>