.conteiner{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0 15px 0 15px;
    //outline: 2px solid tomato;
   @media screen and (min-width: 480px){
       max-width: 480px;
   }
   @media screen and (min-width: 768px){
    max-width: 768px;
    }
    @media screen and (min-width: 1200px){
        max-width: 1200px;
    }

}