.about {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: var(--section-rose);
  @media screen and (min-width: 768px) {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  &-wrapper {
    margin: 0 auto;
    @media screen and (max-width: 767px) {
    max-width: 767px;
    background-image: url(./../images/about-bg-mob.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 75%;
    @media (min-resolution: 2dppx) {
      background-image: url(./../images/about-bg-mob-2x.png);
      background-position: 0 75%;
    }
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    background-image: url(./../images/about-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    @media (min-resolution: 2dppx) {
      background-image: url(./../images/about-bg-2x.png);
    }
  }
  }
  
  &-main {
    max-width: 280px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 139px;
    }
  }
  &__label {
    display: block;
    text-align: center;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      transform: translate(0px, 100%);
      opacity: 0;
      transition: all 0.8s ease 0s;
    }
  }
  &__label.active-animate {
    @media screen and (min-width: 768px) {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  &__header {
    text-align: center;

    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      transform: translate(0px, 100%);
      opacity: 0;
      transition: all 0.8s ease 0s;
    }
  }
  &__header.active-animate {
    @media screen and (min-width: 768px) {
      transform: translate(0px, 0px);
      opacity: 1;
    }
  }
  &-text {
    margin-top: 40px;
    width: 220px;
    @media screen and (min-width: 768px) {
      width: 334px;
    }
    @media screen and (min-width: 1280px) {
      width: 463px;
    }
    &__bold {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.62;
      color: var(--paragraf-black);
      margin-bottom: 30px;
      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.76;
        transform: translate(0px, 100%);
        opacity: 0;
        transition: all 0.8s ease 0.3s;
      }
      @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.76;
        letter-spacing: 0.04em;
        margin-bottom: 32px;
      }
    }
    &__bold.active-animate {
      @media screen and (min-width: 768px) {
        opacity: 1;
        transform: translate(0px, 0px);
      }
    }
    &__light {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.62;
      color: var(--paragraf-grey);
      & + .about-text__light {
        margin-top: 20px;
      }
      @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.76;
        letter-spacing: 0.04em;

        transform: translate(0px, 100%);
        opacity: 0;
        transition: all 0.8s ease 0.3s;
      }
      @media screen and (min-width: 1280px) {
        line-height: 1.94;
      }
    }

    &__light.active-animate {
      @media screen and (min-width: 768px) {
        opacity: 1;
        transform: translate(0px, 0px);
      }
    }
    &__button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      height: 44px;
      width: 176px;
      background: var(--text-main);
      border-radius: 22px;
      color: var(--bg-btn);
      font-size: 14px;
      font-weight: 700;
      line-height: 1.28;
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      &:hover {
        background-color: var(--bg-btn-hover-white);
      }
      @media screen and (min-width: 768px) {
        margin-top: 20px;
        font-size: 16px;
      }
      @media screen and (min-width: 1280px) {
        margin-top: 40px;
        font-size: 16px;
      }
    }

    &__icon {
      width: 7px;
      height: 10px;
      margin-left: 14px;
      fill: var(--text-accent);
    }
  }
}
.backdrop-about {
  opacity: 1;
  z-index: 101;
  
}
.backdrop-about.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop-about.is-hidden .about-modal {
  transform: translate(-50%, -50%) scale(1.1);
}
.about-modal {
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-height: 100%;
  background-color: var(--href-top);
  width: 300px;
  padding: 30px 10px;
  z-index: 105;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    padding: 115px 105px;
    width: 700px;
  }
}
.about-modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  &::before,
  &::after {
    position: absolute;
    content: ' ';
    height: 13.57px;
    width: 2px;
    background-color: var(--text-main);
    top: 50%;
    left: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover::before,
  &:hover::after {
    background-color: var(--text-accent);
  }
}

.about-modal__label {
  font-size: 16px;
  color: var(--text-main);
  display: block;
  text-align: center;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    font-size: 25px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
  }
}
.about-modal__header {
  text-align: center;
  color: var(--text-main);
  font-size: 24px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    font-size: 38px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 48px;
    margin-bottom: 30px;
  }
}
.about-modal__paragraf {
  text-align: center;
  font-size: 12px;
  &:not(:last-child) {
    margin-bottom: 15px;
  }
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}
.no-scroll {
    overflow: hidden;
}